venv/
docs/.DS_Store
/notebooks/data/

/data
/ignore

.DS_Store
__pycache__

# PyCharm project files
# These files are machine specific and not useful to developers on VS Code or other editors
.idea/

# Python package build artifacts
*.egg-info/

notes.md

# Office lock files
~$*.pptx